---
---

@font-face {
  font-family: "SignPainter-HouseScriptSemiBold";
  src: url("../fonts/SignPainter-HouseScript-SemiBold.woff2");
  font-display: block;
}

body {
  margin: 0;
  overscroll-behavior: none;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.page-header {
  padding-top: 5rem;
  height: 100vh;
  box-sizing: border-box;
  text-align: center;
  color: #FFFFFF;
  background-color: #9A382A;
  background-image: linear-gradient(0deg, #992222, #AA3322);
}

.project-name {
  font-family: "SignPainter-HouseScriptSemiBold";
  font-size: 8rem;
  margin: 0;
  letter-spacing: 0.056em;
}

.project-tagline {
  margin: -2rem 0 2rem;
  font-weight: normal;
  font-size: 1.25rem;
  opacity: 0.7;
}
